atomicwrites
attrs
colorama
ftputil
glob2
importlib-metadata
jsonpickle
Mako
MarkupSafe
more-itertools
mysql-connector-python-rf
packaging
parse
parse-type
pluggy
pony
py
PyMySQL
pyparsing
pytest
pytest-bdd
selenium
six
suds-jurko
urllib3
wcwidth
zipp